@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
}

.box {
    border-radius: 10px;
    height: 800px;
    width: 300px;
}

.rc {
    overflow: hidden;
    position: relative;
}

.rc img {
    object-fit: cover;
    margin-left: -50%;
}

.siliana {
    overflow: hidden;
    position: relative;
}

.siliana img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.anais {
    overflow: hidden;
    position: relative;
}

.anais img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}


.thandie {
    overflow: hidden;
    position: relative;
}

.thandie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.melissa {
    overflow: hidden;
    position: relative;
}

.melissa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}